*{
				padding:0;
				margin: 0;
}
body{
				font-family: Garamond, serif;
}
.header{
				min-height:60vh;
				width: 100%; 
				background-image:url("images/background 4.jpg");
				position:relative;
				opacity:0.8;
				background-position:center;
				background-size:cover;
				animation-name: background;		
}
.h1a{
				position:relative;
				bottom:150px;
}
.cendiv{
				text-align:center;
				color:white;
				font-size:1em;
				opacity:1;
}
ul{
				margin: 0;
				padding: 0;
				
}
.cendiv{
				text-align:center;
				color:white;
}
.logo{
				color:white;
				font-size:1.8em;
				position:absolute;
				top:27px;
				left:30px;
				border:3px solid #247BA0;	
				border-radius:50%;			
				width:150px;
				padding-left:16px ;
}
.logo .span{
				color:#247BA0;
}
section h1 a{
				color:white;
				text-decoration:none;
}
.div1{	
				padding-top:160px;
}
#current a{
				color:#247BA0;
				font-weight:1000;
				border-bottom:2px solid #247BA0;
}

.header ul{
				padding:0;
				margin:0;	
				text-align:center;
}
.header ul li{
				display:inline;
				list-style:none;
				padding:8px;
				font-weight:bold;
				position:relative;
				top:85px;
}
.header ul li a{
				text-decoration:none;
				color:white;
}
.header ul li a:hover{
				color:white;
				Background-color:transparent;
		  font-size:1.3em; 
}
#current a{
				color:#247BA0;
				font-weight:1000;
				border-bottom:2px solid #247BA0;
}
 
section h1 a{
				color:white;
				text-decoration:none;
}
.div1{	
			 position:relative;
			 top:27vh;
}
@media(min-width:768px){
				.cendiv{
								font-size:2.5em;
				}
}			
.abimg{
				position:relative;
				top:30px;	
				text-align: center;
				max-width:80%;
				margin-left:10%;
}	
.abimg img{
				margin-bottom:20px;
}
.abimg h3{
				text-decoration:underline;
				margin-bottom:20px;
				text-transform:capitalize;
}
.abimg .exp{
			 position:relative;
			 left:24%;
			 width:150px;
} 
.exp a{
				text-decoration:none;
				color:black;
				display:block;
				border:0.5px solid orange;
				padding:10px 0px;
				width:150px				
				transition: all .5; 	
}
.exp a:hover{
				background:orange;
				transform:scale(1.1, 1.1);
				box-shadow:1px 1px 2px black;
}
.foot{
				background-color:#0A061F;
				color:white;
				position:relative ;
				padding-top:0px;
				text-align:center ;
				margin-top:60px;			
				line-height:30px;		
				font-size:16px;			
}		
.foot{
				background-color:#0A061F;
				color:white;
				position:relative ;
				padding-top:20px;
				text-align:center ;
				margin-top:50px;			
				line-height:30px;					
}		
.foot .logo{
				margin-bottom:30px;
				position:relative;
			 left:26%;
			 margin-bottom:50px;
}		
.foot li{
				list-style:none;
				display: inline-block;
}
.foot li a{
				color:white ;
				display:block;
				text-decoration:none;
} 
@media(min-width:500px){
				.foot .logo{position: relative; left:39%;}
				.abimg .exp{
								left:37%;
				}
}
@media(min-width:990px){
				.foot .logo{position: relative; left:43%;}
				.abimg .exp{
								left:41%;
				}
}
@media(max-width:500px){
				.logo{
								left:29%;
				}
}
@media(min-width:768px){
				.sec5 #lastdiv{
								font-size:1.5em;
				}
				.header ul li{
								display:inline;
								list-style:none;
								padding:20px;
								font-size:1.3em;
								font-weight:bold;
								position:relative;
								top:29px;
							 left: 132px;
				}
				.foot .logo{position: relative; left:39%;}
}
@media(min-width:1024px){
				.sec5 #lastdiv{
								font-size:2.3em;
				}
				.sec5{height:210px;
				}
				.foot .logo{position: relative; left:43%;}
				.header ul li{
								display:inline;
								list-style:none;
								padding:25px;
								font-size:1.5em;
								font-weight:bold;
								position:relative;
								top:29px;
							 left: 157px;
				}
				.abimg .exp{
								left:41%;
				}
}


					
